
body{
    margin: 0;
    font-family: 'Work Sans';
}

/* Head Section */

.header{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.head-content{
    padding-top: 200px;
    text-align: right;
    padding-right: 230px;
    align-items: center;
    font-family: 'Work Sans';
    color: #FFFFFF;

}
.head-title{
    font-weight: 700;
    font-size: 65px;  
    padding-left: 1000px;
    margin-bottom: 30px;
}

.head-description{
    padding-left: 1270px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
}

/* My-Failure-Section */

 .section-container{
    display: flex;
    gap: 91px;
    margin-left: 300px;
    
 }

 .content{
 
    margin-top: 200px;
    margin-right: 400px;
 }

 .content-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
}

.content-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}

.content-list li{
    font-weight: 400;
   font-size: 16px;
   color: #444343;
   margin-bottom: 15px;
   
}

/* My plan section */

.my-plan h2{
 text-align: center;
 font-weight: 700;
 font-size: 40px;
 color: #151414;
}

.plan-box{
    display: flex;
    gap: 90px;
    margin-left: 355px;
    text-align: center;
}
    
.first-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 15px;
   padding-left: 15px;
}

.first-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-left: 15px;
}

/*  Banner Section */

.banner-head{
    background-image:
    linear-gradient(90deg, #005FAC -28.82%, rgba(0, 95, 172, 0) 71.18%), url(images/watch.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 100%;
    background-size: cover;
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
}

.banner-class{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    width: 450px;
    margin-bottom: 24px;
    color: #FFFFFF; 

}

/* Footer */

.footer{
    display: flex;
    background: #151414;
    height: 500px;
    gap: 50px;
    font-family: 'Work Sans';
}

.future-section{
    margin-left: 300px;
    margin-top: 130px;
    color: #FFFFFF;
}
.future-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}

.future-description{
    font-weight: 400;
    font-size: 16px;
    width: 50%;
}
.icon{
    font-weight: 400;
    font-size: 16px;
}

.icon a{
   padding-right: 10px;
   padding-top: 10px; 
}

.sub{
    margin-right:300px;
    margin-top: 152px;
    color: #FFFFFF;
}

.footer-title{
    font-weight: 600;
    font-size: 25px;
}


.sub .btn{
    margin-top: 20px;
}

.sub input[type="email"]{
    width: 325px;
    padding-bottom: 30px;
    background: #151414;
    border-radius: 5px;
}

::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
    




