main{
    margin: 0; 
    font-family: 'Work Sans';
}
body{
    margin: 0;
}

/* Head Section */

.header{
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.head-content{
    padding-top: 200px;
    text-align: right;
    padding-right: 230px;
    align-items: center;
    font-family: 'Work Sans';
    color: #FFFFFF;

}
.head-title{
    font-weight: 700;
    font-size: 65px;  
    padding-left: 1000px;
    margin-bottom: 30px;
}

.head-description{
    padding-left: 1270px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 25px 25px;
    border: none;
    border-radius: 5px;
}

/* My-Failure-Section */

 .section-container{
    display: flex;
    gap: 91px;
    margin-left: 300px;
    
 }

 .content{
 
    margin-top: 200px;
    margin-right: 400px;
 }

 .content-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
}

.content-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}

.content-list li{
    font-weight: 400;
   font-size: 16px;
   color: #444343;
   margin-bottom: 15px;
   
}

/* My plan section */

.my-plan h2{
 text-align: center;
 font-weight: 700;
 font-size: 40px;
 color: #151414;
}

.plan-box{
    display: flex;
    gap: 90px;
    margin-left: 355px;
    text-align: center;
}
    
.first-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 15px;
}

.first-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
